
<div class="inner_pages">
  <section class="section_second">
    <div class="container-fluid">
      <div class="row">
        <div class="carousel-outer" *ngIf="bountyQuestions?.length>0 && !search && !hashTag && qid==-1">
          <div id="question-slider" class="carousel slide" data-ride="false" data-interval="50000">
            <!-- Indicators -->
            <span class="bounty-q">Bounty Questions <small>From <span>{{startDate | date: 'E, MMMM d, y'}}</span> To <span>{{endDate | date: 'E, MMMM d, y'}}</span></small></span>

            <ol class="carousel-indicators" >
              <li *ngFor="let bounty of bountyQuestions;let i = index" data-target="#question-slider" [attr.data-slide-to]="i" [ngClass]="i==0?'active':''"></li>
              <!--<li data-target="#question-slider" [data-slide-to]="1"></li>-->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <ng-container *ngFor="let bounty of bountyQuestions;let i = index">
                <div class="item" [ngClass]="{'active': i == 0 }">
                  <div class="cover_questions">
                    <div class="question_box">

                      <strong>
                        <a href="javascript:void(0)" [routerLink]="localStorageUser ? ['/questiondetail/', bounty?.QuestionId] :['/qid/', bounty?.QuestionId]">
                          <span  style="font-size: 18px;" class="message-container" [innerHTML]= "bounty?.PostQuestion | linky:{stripPrefix : true, truncate:15}  | emojis"></span>
                        </a>
                        <ng-container *ngFor="let tag of bounty?.HashTags?.split(',')">
                          <small class="hash_tag"><a  href="javascript:void(0)" (click)="searchForTag(tag)">#{{tag}}&nbsp;</a></small>
                        </ng-container>
                        
                      </strong>

                      <div class="user_left" >
                       <!-- <span class="icon"><img src="{{bounty?.UserImage}}" onerror="this.onerror=null;this.src='../../assets/images/user.png';" /></span>-->
                        <span class="badge" title="Bounty Score" style="background-color: #ff9090;font-weight:200">
                          <small>Bounty score : {{bounty?.Score}}</small>
                        </span>
                      </div>

                      <!--<span class="percentage_yes" *ngIf="bounty?.YesCount >0 || bounty?.NoCount>0">Yes : {{bounty?.percentage | number:'1.0-0'}}  %</span>-->

                    <div class="liked_ones clearfix yes_feedback" *ngIf="bounty?.MostYesLiked">
                      <div class="feedback-badge badge-yes">Yes</div>
                      <div ExternalLink>
                        <h1>  Yes</h1>
                        <b>@{{bounty?.MostYesLiked?.CommentedUserName}}:</b>
                        <small class="message-container" [innerHTML]="bounty?.MostYesLiked.Comment | linky:{stripPrefix : true, truncate:15} | emojis"></small>
                        <small><sup>{{bounty?.MostYesLiked?.CreationDate + 'Z'| date:"medium" | timeAgo }}</sup></small>
                      </div>
                    </div>

                    <div class="liked_ones clearfix no_feedback" *ngIf="bounty?.MostNoLiked">
                      <div class="feedback-badge badge-no">No</div>
                      <div ExternalLink>
                        <h1>  No</h1>
                        <b>@{{bounty?.MostNoLiked?.CommentedUserName}}:</b>
                        <small class="message-container" [innerHTML]="bounty?.MostNoLiked.Comment | linky:{stripPrefix : true, truncate:15} | emojis "></small>
                        <small><sup>{{bounty?.MostNoLiked?.CreationDate + 'Z'| date:"medium" | timeAgo }}</sup></small>
                      </div>
                    </div>

                    </div>
                  </div>
                </div>
              </ng-container>
            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#question-slider" data-slide="prev">
              <i class="fas fa-arrow-left"></i>
            </a>
            <a class="right carousel-control" href="#question-slider" data-slide="next">
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>





    <div class="container">
      <div class="cover_heading">
      </div>



      <div class="container" style="margin:60px 0px 40px 0px" *ngIf="PostQuestionDetailList?.length == 0 && isRecordLoaded"></div>

      
      <div class="col-sm-12">

        <div class="cover_hello">
          <a [routerLink]="qid == -1 ?  ['/postquestion',0] : ['/questiondetail/',qid]" href="javascript:void(0)">
            <i class="fa fa-plus" aria-hidden="true">&nbsp;Post</i>
          </a>
        </div>

        <!--sort by button-->
        <div *ngIf="isRecordLoaded && PostQuestionDetailList?.length>0 && qid==-1 " class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" style="width:120px;">
            Sort By &nbsp;<span class="caret"></span>
          </button>


          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="dropdownSort(3)" href="#">Random</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="dropdownSort(0)" href="#">Last Reaction</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="dropdownSort(1)" href="#">Most Reactions</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="dropdownSort(2)" href="#">Least Reactions</a></li>

          </ul>
        </div>

        <!--//tabs-->
        <div class="trending" *ngIf="popularhastags?.length>0 && isRecordLoaded ">
          
          <nav style="padding:5px">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <ng-container *ngFor="let tag of popularhastags;let i=index">
                <a href="javascript:void(0)" class="nav-item nav-link " id="nav-home-tab" [ngClass]="(i==tabIndex)?'active':''"
                   [style.color]="tag.HashTag=='Career' ? 'rgba(225, 77, 18, 0.5);' : '' "
                   role="tab" aria-controls="nav-home" aria-selected="true" data-toggle="tag.HashTag" (click)="switchTab(tag.HashTag,i)">#{{tag.HashTag}}</a>
                <span> &nbsp; </span>
              </ng-container>
            </div>
          </nav>

          <!--<ul class="nav nav-tabs list-inline">
            <li *ngFor="let tag of popularhastags;let i=index">
              <a href="javascript:void(0)" data-toggle="tag.HashTag" (click)="switchTab(tag.HashTag)">{{tag.HashTag}}</a>
            </li>
          </ul>-->

        </div>


        <div *ngIf="!isRecordLoaded" class="scroller_cover" style="margin: 40px 0px 20px 0px">
          <img src="../../../assets/images/reordloaderImages.gif" />
        </div>

        <ul infiniteScroll (scrolled)="onScroll($event)" [infiniteScrollDistance]="0.8" [infiniteScrollThrottle]="150"
            [scrollWindow]="true">

          <!--Not a QID request-->
          <li *ngIf="isRecordLoaded && PostQuestionDetailList?.length>0 && qid==-1" style=" box-shadow:none">

            <div class="cover_questions image_question" style="cursor:pointer" *ngFor="let temp of PostQuestionDetailList" [routerLink]="localStorageUser ? ['/questiondetail/', temp?.Id] :['/qid/', temp?.Id]">
              <div class="question_box">
                <div class="user_left" [routerLink]="['/viewprofile/',temp.OwnerUserID]">
                  <span class="user_icon"><img src="{{temp?.UserImage}}" onerror="this.onerror=null;this.src='../../assets/images/user.png';" /></span>
                  <span class="username" [title]="temp?.OwnerUserName">
                    @{{temp?.OwnerUserName}}
                  </span>
                </div>
                <div class="user_right">
                  <div *ngIf="temp?.LastActivityTime" class="date">
                    <i>{{temp?.LastActivityTime + 'Z'| date:"medium" |timeAgo }} &middot;  {{temp?.TotalLikes + temp?.TotalDisLikes + temp?.YesCount +temp?.NoCount}} reactions <b style="font-size:12px;padding-right:4px;"></b></i>
                  </div>

                  <br />
                </div>

  
                <strong>

                  <a href="javascript:void(0)" [routerLink]="localStorageUser ? ['/questiondetail/', temp?.Id] :['/qid/', temp?.Id]">
                    <div class="message-container  mb-0 question-text" [innerHTML]=" temp?.Question | linky:{stripPrefix : true, truncate:15} | emojis"></div>

                  </a>
                  <div *ngIf="temp?.Link" class="message-container  mb-0 question-link" [innerHTML]="''+temp?.Link | linky:{stripPrefix : true, truncate:15}">
                  </div>
                </strong>


                <ng-container *ngFor="let tag of temp?.HashTags?.split(',')">
                  <div class="hash_tag"><a href="javascript:void(0)" (click)="searchForTag(tag)">#{{tag}}&nbsp;</a></div>

                </ng-container>
                <div class="cover_analysis">
                  <div class="left">
                    <span> </span>

                    <div class="anlysis_slider" style="width:100%;   " *ngIf="((temp.YesCount)>0 || (temp.NoCount)>0) ">
                      <span [style.width.%]="temp.percentage | number:'1.0-0'" class="color yes_div"></span>


                      <span class="percentage_yes" *ngIf="temp.YesCount >0 || temp.NoCount>0">Yes : {{temp.percentage | number:'1.0-0'}}  %</span>


                    </div>
                  </div>
                </div>


                <div class="liked_ones clearfix yes_feedback" *ngIf="temp?.MostYesLiked">

                  <div ExternalLink>

                    <div class="feedback-badge badge-yes">Yes</div>
                    <small class="belief-time"><i>{{temp?.MostYesLiked?.CreationDate + 'Z'| date:"medium" | timeAgo }}</i></small>
                    <p class="message-container" [innerHTML]=" temp?.MostYesLiked?.Comment | linky:{stripPrefix : true, truncate:15} | emojis  "></p>

                    <div class="image_belief" *ngIf="temp?.MostYesLiked?.BeliefImage">
                      <img src="{{temp?.MostYesLiked?.BeliefImage}}" style="border-radius: 8px;width: 100%; max-height: 250px; margin-top:24px; margin-bottom:10px;" onError="this.src='../../../assets/images/No-image-found.jpg'" alt="user" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-8 text-left">
                      <div class="opinionsList">

                        <span class="small_icon" [routerLink]="['/viewprofile/', temp?.MostYesLiked?.CommentedUserId]"><img src="{{temp?.MostYesLiked?.UserImage}}" onerror="this.onerror=null;this.src='../../assets/images/user.png';" alt="user"></span>
                        <span class="small_username" [routerLink]="['/viewprofile/', temp?.MostYesLiked?.CommentedUserId]">
                          @{{temp?.MostYesLiked?.CommentedUserName}}
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <div class="thumbs">
                        <span alt="like">
                          <a class="btn  btn-info">
                            <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp;{{temp.MostYesLiked?.LikesCount}}</i>

                          </a>

                        </span>
                        <span alt="like">
                          <a class="btn  btn-info">
                            <i class="fa fa-thumbs-o-down fa-lg " aria-hidden="true">&nbsp;{{temp.MostYesLiked?.DislikesCount}}</i>

                          </a>

                        </span>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="liked_ones clearfix no_feedback" *ngIf="temp.MostNoLiked">
                  <div ExternalLink>

                    <div class="feedback-badge badge-no">No</div>
                    <small class="belief-time"><i>{{temp?.MostNoLiked?.CreationDate + 'Z'| date:"medium" | timeAgo }}</i></small>
                    <p class="message-container" [innerHTML]="temp?.MostNoLiked?.Comment | linky:{stripPrefix : true, truncate:15} | emojis   "></p>
                    <div class="image_belief" *ngIf="temp?.MostNoLiked?.BeliefImage">
                      <img src="{{temp?.MostNoLiked?.BeliefImage}}" style="border-radius: 8px;width: 100%; max-height: 250px; margin-top:24px; margin-bottom:10px;" onError="this.src='../../../assets/images/No-image-found.jpg'" alt="user" />
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-sm-8 text-left">
                      <div class="opinionsList" [routerLink]="['/viewprofile/', temp?.MostNoLiked?.CommentedUserId]">

                        <span class="small_icon"><img src="{{temp.MostNoLiked?.UserImage}}" onerror="this.onerror=null;this.src='../../assets/images/user.png';"></span>
                        <!--<span class="icon"><img src="./images/user.png" alt=""></span>-->
                        <span class="small_username">
                          @{{temp.MostNoLiked?.CommentedUserName}}
                        </span>
                      </div>
                    </div>

                    <div class="col-sm-4  text-center">

                      <div class="thumbs">
                        <span alt="like">
                          <a class="btn  btn-info">
                            <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp;{{temp.MostNoLiked?.LikesCount}}</i>

                          </a>

                        </span>
                        <span alt="like">
                          <a class="btn  btn-info">
                            <i class="fa fa-thumbs-o-down fa-lg " aria-hidden="true">&nbsp;{{temp.MostNoLiked?.DislikesCount}}</i>

                          </a>

                        </span>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </li>


          <!--Is a QID request, show all comments-->
          <li *ngIf="isRecordLoaded && PostQuestionDetailList?.length>0 && qid>-1" style=" box-shadow:none">

            <div class="cover_questions image_question" style="cursor:pointer" *ngFor="let temp of PostQuestionDetailList" [routerLink]="['/questiondetail/', temp?.Id]">
              <div class="question_box">
                <div class="user_left" [routerLink]="['/viewprofile/',temp.OwnerUserID]">
                  <span class="user_icon"><img src="{{temp.UserImage}}" onerror="this.onerror=null;this.src='../../assets/images/user.png';" /></span>
                  <span class="username">
                    @{{temp.OwnerUserName}}
                  </span>
                </div>
                <div class="user_right">
                  <div *ngIf="temp.LastActivityTime " class="date">
                    <i>{{temp?.LastActivityTime + 'Z'| date:"medium" |timeAgo }} &middot;  {{temp?.TotalLikes + temp?.TotalDisLikes + temp?.YesCount +temp?.NoCount}} reactions <b style="font-size:12px;padding-right:4px;"></b></i>

                  </div>

                  <br />
                </div>

                <div *ngIf="temp?.Link" class="message-container  mb-0 question-link" [innerHTML]="'Link:'+temp?.Link | linky:{stripPrefix : true, truncate:15}">
                </div>

                <strong>
                  <a href="javascript:void(0)" style="font-size: 18px;color:#000;" [routerLink]="['/questiondetail/', temp?.Id]">
                    <div class="message-container  mb-0 question-text" [innerHTML]=" temp?.Question | linky:{stripPrefix : true, truncate:15}| emojis "></div>
                  </a>


                </strong>


                <ng-container *ngFor="let tag of temp?.HashTags?.split(',')">
                  <div class="hash_tag"><a href="javascript:void(0)" (click)="searchForTag(tag)">#{{tag}}&nbsp;</a></div>

                </ng-container>
                <div class="cover_analysis">
                  <div class="left">
                    <span> </span>
                    <div class="anlysis_slider" style="width:100%;   " *ngIf="((temp.YesCount)>0 || (temp.NoCount)>0) ">
                      <span [style.width.%]="temp.percentage | number:'1.0-0'" class="color yes_div"></span>
                      <span class="percentage_yes" *ngIf="temp.YesCount >0 || temp.NoCount>0">Yes : {{temp.percentage | number:'1.0-0'}}  %</span>

                    </div>
                  </div>
                </div>

                <span class="cover_yes_no_feedback" *ngIf="temp?.comments?.length > 0">

                  <div class="liked_ones clearfix  " *ngFor="let temp1 of temp?.comments let index = index">

                    <div [class]="[temp1?.IsAgree ? 'yes_feedback' : 'no_feedback']">

                      <div ExternalLink>
                        <div [class]="[temp1?.IsAgree ? 'feedback-badge badge-yes' : 'feedback-badge badge-no']">
                          {{temp1?.IsAgree ? 'Yes' : 'No'}}
                        </div>
                        <small class="belief-time"><i>{{temp1?.CreationDate + 'Z'| date:"medium" | timeAgo }}</i></small>
                        <p class="message-container" [innerHTML]="temp1?.Comment | linky:{stripPrefix : true, truncate:15} ">
                        </p>
                        <div class="image_belief" *ngIf="temp1?.beliefimage">
                          <img src="{{temp1?.beliefimage}}" style="border-radius: 8px;width: 100%; max-height: 250px; margin-top:24px; margin-bottom:10px;" onerror="this.src='../../../assets/images/no-image-found.jpg'" alt="user" />
                        </div>


                      </div>


                      <div class="row">
                        <span class="profile_bottom_cover">

                          <div class="col-sm-8 text-left">
                            <div class="opinionsList" [routerLink]="['/viewprofile/', temp1?.CommentedUserId]">

                              <span class="small_icon">
                                <img src="{{temp1?.UserImage}}" onerror="this.onerror=null;this.src='../../assets/images/user.png';">
                              </span>
                              <!--<span class="icon"><img src="./images/user.png" alt=""></span>-->
                              <span class="small_username">
                                @{{temp1?.CommentedUserName}}
                              </span>
                            </div>


                          </div>

                          <div class="col-sm-4 text-center">
                            <!--<div class="thumbs">
                <span><img src="../../assets/images/{{'like.png'}}" alt="like" (click)="saveLikeclick(temp1?.Likes,index)">{{temp1?.LikesCount}}</span>
                <span><img src="../../assets/images/{{'unlike.png'}}" alt="like" (click)="saveDislikeclick(temp1?.DisLikes,index)" />{{temp1?.DislikesCount}}</span>
              </div>-->

                            <div class="thumbs">
                              
                              <span alt="like">
                                <a class="btn  btn-info" (click)="saveLikeclick(temp1?.Likes,index)">
                                  <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp;{{temp1?.LikesCount}}</i>

                                </a>

                              </span>
                              <span alt="like">
                                <a class="btn  btn-info" (click)="saveDislikeclick(temp1?.DisLikes,index)">
                                  <i class="fa fa-thumbs-o-down fa-lg " aria-hidden="true">&nbsp;{{temp1?.LikesCount}}</i>

                                </a>

                              </span>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>

                  </div>
                </span>

              </div>

            </div>

          </li>


        </ul>

      </div>

      
    </div>
     

  </section>

   

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="js/bootstrap.min.js"></script>

</div>

