

.hash_tag a {
  font-size: 13px;
  float: right;
}

.col-sm-12 ul{
  border: thick;
  border-color: aqua;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
}
 


.cover_questions .user_right {
  float: right;
  width: 50%;
}

.hash_tag {
    font-size: 11px;
    float: right;
  }
.mb-0{
  margin-bottom:0px !important
}

.cover_questions .user_right .date i {
  font-size: 11px;
  color: grey;
  padding: 0px 0px 0px 0px;
}


@media screen and (max-width: 480px) {

  .cover_questions .user_right .date i {
    font-size: 9px;
    color: grey;
    padding: 0px 0px 0px 0px;
    float: left;

  }

  .col-sm-12 {
    padding-left: 1px;
    padding-right: 1px;
  }
   

  .section_second ul li {
    width: 100%;
    float: left;
    display: block;
    padding: 1px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  .section_second ul.pagination li {
    width: auto;
    float: unset;
    display: unset;
    padding: 1px;
    box-shadow: unset;
  }
}






