<div bsModal #forgotPassword="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="model fade in show" role="dialog" aria-labelledby="dialog-auto-name">
    <form class="w-md-75 mx-auto px-sm-3 my-3 mt-4" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-events-name" class="modal-title pull-left">Forgot Password </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="main_fields">
              <div class="form-group">
                <label for="username">Email</label>
                <input type="text" formControlName="email" class="form-control form-control pl-5" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <i class="fa fa-inbox"></i>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="loading">Submit</button>
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<style>
  .error{
    border:1px solid red !important;
  }
</style>
