<section class="section_second">
  <div class="container">
    <div class="cover_heading" style="padding-top: 10px">
      <h2>Profile</h2>
    </div>
    <div class="cover_profile">

      <div class="col-sm-12">
        <div class="profile_div">
          <div class="image_user">
            <img src="{{ this.imageUrl}}" onError="this.src='../../../assets/images/user.png'" alt="user" />

            <span class="upload_button">
              <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
              <button type="button" class="btn-large btn-submit" (click)="UploadFile()">Upload</button>
            </span>
          </div>

        </div>
        <div class="col s8 offset-2">
          
        </div>


        <div class="inputs_fields">
          <form [formGroup]="edtiProfileForm" (ngSubmit)="onSubmit()">

            <div class="col-sm-12">
              <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" formControlName="userName" class="form-control form-control pl-5" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" placeholder="Enter User name" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                  <small *ngIf="f.email.errors.required">*Username required</small>
                </div>

              </div>

            </div>


            <div class="col-sm-12">
              <div class="form-group">
                <label for="userinfo">Background</label>
                <p class="text-info small text-left" style="font-size: 10px; margin-bottom: 0px"> Example- Developer @ Opozee.com , Worked @ FB, Google, Apple.</p>
                <input type="text" formControlName="userInfo" class="form-control form-control pl-5" [ngClass]="{ 'is-invalid': submitted && f.userInfo.errors }" placeholder="Enter profile" />
                <div *ngIf="submitted && f.userInfo.errors" class="invalid-feedback">
                  <div *ngIf="f.userInfo.errors.required">*User Profile Required</div>
                </div>

              </div>

            </div>

            <!--<div class="col-sm-6">
    <div class="form-group">
      <label for="username">First Name</label>
      <input type="text" formControlName="firstName" class="form-control form-control pl-5" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Enter first name" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">First name required</div>
      </div>

    </div>

  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="username">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control form-control pl-5" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Enter last name" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">last name required</div>
      </div>
    </div>
  </div>-->


            <div class="col-sm-6" *ngIf="!isSocialLogin">
              <div class="form-group">
                <label for="username">Email</label>
                <input type="text" formControlName="email" class="form-control form-control pl-5" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email " />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <small *ngIf="f.email.errors.required">*Email required</small>
                </div>
              </div>

            </div>

            <div class="col-sm-6" *ngIf="!isSocialLogin">
              <div class="form-group">
                <label for="username">Password</label>
                <input type="password" formControlName="password" class="form-control form-control pl-5" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter password " />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <small *ngIf="f.password.errors.required">*Password required</small>
                  <small *ngIf="!f.password.errors.required && f.password.errors">*Password must be at least 6 characters</small>
                </div>


              </div>


            </div>

            <div class="form-group">
              <button [disabled]="loading" class="btns bg-primary border-0 w-100 rounded color-white mt-3">Save Profile</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </form>
        </div>

      </div>

    </div>

  </div>
  <style>
    .invalid-feedback, .invalid-feedback small {
      text-align: left !important;
      color: red;
    }
  </style>





</section>
