header {
  position: relative;
}
nav.navbar.navbar-default.navbar-fixed-top {
  position: relative !important;
  margin: 0px;
}
.inner_pages header {
  position: fixed;
  min-height: 130px;
  background: #333;
  /*background: #f4f3ab;*/
  width: 100%;
  z-index: 9;
}
a.navbar-brand.logo {
  max-width: 55px !important;
  padding: 9px 0px !important;
  
}
.dropdown a img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
}

.inner_pages header {
  min-height: 100px !important;
}
header .dropdown a {
  padding: 0px !important;
}


/********header css start*******/
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 500;
}

.post_button a {
  background: #0073cb;
  padding: 10px 15px !important;
  margin-top: 6px;
  border-radius: 3px;
}

.nav.navbar-nav.navbar-right {
  margin-top: 24px;
}

header .container-fluid {
  padding: 0 35px;
}

.navbar-brand.logo {
  max-width: 100px;
  height: auto;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  opacity: 0.7;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}
/********header css ends*******/

@media(max-width:767px) {
  a.navbar-brand.logo {
    margin-left: 15px;
  }

  .navbar-default .navbar-toggle {
    margin-top: 36px !important
  }
}
