<section class="leader-table">

  <h2>Bounty Question History </h2>
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-md-12">

        <div *ngIf="loading" class="scroller_cover" style="margin:40px 0px 40px 0px">
          <img src="../../../assets/images/reordloaderImages.gif" />
        </div>


        <div class="col-md-12" style="float:right" *ngIf="!loading">
          <div class="form-group">
            <input class="form-control" class="date datepicker" type="date" [(ngModel)]="startDate" name="date1" #date1="ngModel" (change)="onStartDateChange($event,'start')" />
            <input class="form-control" class="date datepicker" type="date" [(ngModel)]="endDate" name="date2" #date2="ngModel" (change)="onStartDateChange($event,'end')" />
            <button type="button" style="padding:3px 12px;" [disabled]="!(startDate&&endDate)" class="btn btn-success" (click)="filterBQ()">GO</button>
          </div>
        </div>

          <table class="table table-striped table-bordered" *ngIf="!loading">
            <thead>
              <tr>

                <th>Questions</th>
                <th>User</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Score</th>
                <!--<th><span class="green">Yes</span>/<span class="red">No</span></th>
                  <th><span class="green">Likes</span>/<span class="red">DisLikes</span></th>-->
                <!--<th>Winner</th>-->

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bounty of bountyQuestions">
                <td align="left">
                  <a href="javascript:void(0)" [routerLink]="localStorageUser ? ['/questiondetail/', bounty?.QuestionId] : ['/qid/', bounty?.QuestionId]">
                    <span class="message-container" [innerHTML]="bounty?.PostQuestion | emojis"></span>
                  </a>
                </td>
                <td align="left">
                  <a href="javascript:void(0)" [routerLink]="['/viewprofile/',bounty?.UserId]">{{bounty?.UserName}}</a>
                </td>
                <td>{{bounty?.StartDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{bounty?.EndDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{bounty?.Score}}</td>

                <!--<td><span class="green">{{bounty?.YesCount}}</span>/<span class="red">{{bounty?.NoCount}}</span></td>
              <td>
                <span class="green">{{bounty?.TotalLikes}}</span>/<span class="red">{{bounty?.TotalDisLikes}}</span>
              </td>-->
                <!--<td>-</td>-->
              </tr>
              <tr *ngIf="bountyQuestions?.length==0"><td colspan="5"> </td></tr>
            </tbody>
          </table>
        </div>
       
      </div>
  </div>

</section>




<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li> <a href="javascript:void(0)">Help</a></li>
          <li> <a [routerLink]="['/faq/']">FAQ</a></li>
          <li> <a [routerLink]="['/aboutus/']">About Us</a></li>


          <li><a href="mailto:contactus@opozee.com">Contact Us</a></li>
          <!--<li >   <a [routerLink]="['/aboutus/']">About Us</a></li>-->
        </ul>
        <!--<li> <a [routerLink]="['/aboutus/']">About Us</a></li>

          <li><a href="#">Register</a></li>
        -->
      </div>
    </div>
  </div>

  <div class="copywrite">
    <p>Copyright Opozee Inc 2019</p>
  </div>
  <div class="privatePolicy">
    <!--<a [routerLink]="['/privatepolicy/']">Privacy Policy</a>-->

  </div>

  <div class="aboutus">
  </div>

  <span id="siteseal">
    <script async type="text/javascript"
      src="https://seal.godaddy.com/getSeal?sealID=tO7ndZkEUXZNnbHsOziOEYXzlu2s0mKH9rgu1WUzFXZbUYexoQKcFMLqv54v"></script>
  </span>

</footer>
