.leader-table {
  padding-top: 30px;
  text-align: center;
}



.container-fluid {
  width: 90%;
}

.green{
  color: green;
}

.red{
  color:red;
}

.qes{
  float: left;
}
@media screen and (max-width: 767px) {

  .container-fluid {
    width: 80%;
  }
}
