<section class="section_second" style="padding-top: 20px">
  <div class="container">
    <div class="cover_heading">
      <h2>Profile</h2>
    </div>
    <div class="cover_profile">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="profile_div">
          <div class="image_user">
            <img src="{{userProfiledata?.ImageURL}}" onError="this.src='../../../assets/images/user.png'" alt="user" />
            <div class="edit"><i class="fa fa-pencil" aria-hidden="true" [routerLink]="['/editprofile/',userProfiledata?.UserID]" style="cursor:pointer;"></i></div>

          </div>
          <h2>{{userProfiledata?.FirstName }} {{userProfiledata?.LastName}}</h2>
          <h4>@{{userProfiledata?.UserName}} </h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="tocken">

          <img src="../../../assets/images/coin.png" alt="coin" />
          <label>Tokens:</label>
          <strong>{{userProfiledata?.BalanceToken}}</strong>
        </div>
        <div class="tocken">
          <img src="../../../assets/images/iq.png" alt="coin" />
          <label>Questions Posted :</label>
          <strong>{{userProfiledata?.TotalPostedQuestion}}</strong>
        </div>
        <div class="tocken">
          <img src="../../../assets/images/like2.png" alt="coin" />
          <label>Recieved Likes:</label>
          <strong>{{userProfiledata?.TotalLikes}}</strong>
        </div>
        <div class="tocken">
          <img src="../../../assets/images/unliek.png" alt="coin" />
          <label>Recieved Dislikes :</label>
          <strong>{{userProfiledata?.TotalDislikes}}</strong>
        </div>
      </div>

      <!--<div class="profile_images">
        <h3>Choose An Option</h3>
        <div class="col-sm-6" [routerLink]="['/postedQuestionEditList/',Id]" style="cursor:pointer">
          <img src="../../../assets/images/posted.jpg" alt="posted" />
        </div>
        <div class="col-sm-6" [routerLink]="['/postquestion/']" style="cursor:pointer">
          <img src="../../../assets/images/post.jpg" alt="posted" />
        </div>
      </div>-->

    </div>
    <div class="questions-section">
      <ul class="nav nav-tabs">
        <li><a class="active" data-toggle="tab" (click)="onchangeTab('mybeliefs')" href="#mybeliefs">My Beliefs</a></li>
        <li><a data-toggle="tab" (click)="onchangeTab('myquestions')" href="#myquestions">My Questions</a></li>
      </ul>

      <div class="tab-content">
        <div id="mybeliefs" class="tab-pane fade in active">
          <span class="cover_ntfctn_border questions-field" *ngFor="let temp of notification; let i=index">

            <strong style="border-color: #D2F3C8">
              <!--<a data-title="Q">-->
              <a data-title="Q" href="javascript:void(0)" style="font-size: 18px;" [routerLink]="['/questiondetail/', temp.QuestionId]">
                <div class="message-container" [innerHTML]="temp?.Question | emojis"></div>
              </a>
              <small style="color:grey;font-size:10px;font-weight:100">@{{temp.Name}}</small>
            </strong>
            
              <strong [class]="[temp?.IsAgree ? 'yes_feedback' : 'no_feedback']"   *ngFor="let opinion of temp.OpinionList; let ii=index" style="margin:3px">
                <a data-title="B">{{opinion}}</a>
              </strong>

          </span>
        </div>

        <div id="myquestions" class="tab-pane fade in">
          <span class="cover_ntfctn_border questions-field" *ngFor="let temp1 of notification; let i=index">
            <strong>
              <!--<a data-title="Q">-->
             <a data-title="Q" href="javascript:void(0)" style="font-size: 18px;" [routerLink]="['/questiondetail/', temp1.QuestionId]">
                <div class="message-container" [innerHTML]="temp1?.Question | emojis"></div>
              </a>
            </strong>
          </span>
          <!--<span class="cover_ntfctn_border questions-field">
            <strong><a data-title="Q">What Is .......?</a></strong>
          </span>-->

          <div class="row">
            <div class="navigation_cover" *ngIf="notification?.length>0">

              <div class="container">
                <div class="text-center" style="cursor:pointer">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(  pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages;index as i" [ngClass]="{active:pager.currentPage === page }">
                      <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(  pager.currentPage + 1)">Next</a>
                    </li>

                  </ul>
                </div>
              </div>


            </div>
          </div>

        </div>

      </div>




    </div>




  </div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
