
<!DOCTYPE html>
<html>

<head>
  <title>Opozee FAQ</title>

  <!--<link href="../assets/aboutus/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">-->

</head>

<body>
  <header>
    <div class="navbar">
    </div>
  </header>
  <section class="about_section">
    <div class="container">
      <h1 class="about_title">FAQ</h1>
      <div class="row about_row">
        <div class="col-md-9 col-xs-12 col-sm-12">
          <div class="about_content">

            <p>
              <b> What is Opozee?</b><br />
              Opozee is a decentralized  and open-source social network that is structured around questions and beliefs.
              It offers a platform for free speech and encourages users to discuss ideas and converge to shared beliefs. Users earn OPZ coins for posting insightful beliefs and adding value to the discussion. Think of it as being paid for posting engaging arguments and receiving up-votes on your beliefs.

            </p><br />
            <p>
              <b>  Is Opozee running on a blockchain?</b><br />
              No, we are currently a fully centralized website. Our plan is to decentralize in four phases.<br /><br />
              <b>Phase 1</b> - build a centralized website and engage users with our questions and belief structure.<br />
              <b>Phase 2</b> - move Opozee’s backend to a blockchain and transfer coins to the blockchain.<br />
              <b>Phase 3</b> - transition to a decentralized identity system (instead of using google and facebook’s identity system) and create a decentralized front end.<br />
              <b>Phase 4</b> - founding team will transition control to a DAO structure.<br />


            </p><br />

            <p>
              <b> What is Opozee coin (OPZ)? What is it worth?</b><br />
              Opozee coin is the native token of the Opozee network and acts as equity shares. If the network becomes valuable and profitable, OPZ coins will reflect that value. We believe that in the future Opozee, running as a fully decentralized organization, will be profitable with revenues from different streams. Coin holders can then determine a dividend payout rate.
            </p><br />

            <p>
              <b>  How can I earn Opozee coins?</b><br />
              Users who post beliefs earn OPZ when other users up-vote those beliefs. In the future, users will have to stake OPZ coin to post questions and beliefs. Staked coins may be burnt if a user violates Opozee’s content rules.
            </p><br />

            <p>
              <b> Will I lose Opozee coins if my beliefs receive downvotes?</b><br />
              Yes in the current version, you will lose OPZ coins if you have more down-votes than up-votes on a belief.
            </p><br />
            <p>
              <b>  Can I send other users Opozee coins?</b><br />
              Not yet. Once Opozee is running on a blockchain, OPZ coins can be transferred freely.

            </p><br />
            <p>
              <b>  What are Opozee’s content and moderation rules?</b><br />
              In phase 1 moderation will be managed by the Opozee team (see our rules and policies page here).
              In phase 2 and 3,  Opozee will transition to a community moderation model where users can choose to stake OPZ coins and become moderators on the network. Moderators will be compensated in OPZ coins.
              In phase 4, we will enable on-chain governance to allow coin holders to manage our rules and policies and to determine coin based compensation for moderators.
            </p><br />
            <p>
              <b> Is the supply of Opozee Coin (OPZ) fixed?</b><br />
              Yes, but only in the short and medium term. We plan to distribute 100 million OPZ coins among users, founders, developers, moderators, and early investors. The network will issue coins on an ongoing basis to users who receive up-votes for posting beliefs. We estimate that we will exhaust this supply of coins when we have about 5 million daily active users. After that, the network will have an inflation rate tied to user growth. This rate will be determined by the on-chain governance process.

            </p><br />

            <p>
              <b>  Why are your token economy and network design plans so vague?</b><br />
              That is a fair statement. These are very early days for Web 3.0/Blockchain applications. We really don’t know how token economies will function in the future and which on-chain governance models will succeed. For now, our focus is on building a great application that our users enjoy.

              The path we take to get to our end goal is not predetermined and we will alter it as we get feedback from our users. However, our end goal is clear - We want to create a social network that enables free speech while minimizing confirmation bias and misinformation.


            </p><br /><br /><br />
          </div>
        </div>

      </div>
    </div>
  </section>


  <footer>
    <div class="container">
      <div class="row footer-row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
    <div class="copywrite">
      <p>Copyright Opozee Inc 2019</p>
    </div>
    <div class="privatePolicy">
    </div>
    <span id="siteseal">
    </span>
  </footer>
</body>

</html>
