a,
article,
aside,
body,
button,
div,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
img,
input,
li,
nav,
p,
section,
ul {
  margin: 0;
  padding: 0
}

  a,
  a:focus,
  a:hover {
    text-decoration: none;
    color: inherit
  }

button,
input,
textarea {
  outline: 0
}

ul li {
  list-style: none
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*about section */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.about_section {
  background: #f6f6f6;
  padding: 50px 0;
}

  .about_section .about_title {
    color: #515151;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }

.about_content .mission_title {
  color: #515151;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 15px;
}

.banner_section img {
  height: 555px;
  max-width: 550px;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

/*team section*/
.team_section {
  padding: 50px 0;
}

  .team_section .team_title {
    color: #515151;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }

.profile_image img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.team_profile {
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
}

.team_description {
  padding-top: 25px;
}

  .team_description h4 {
    font-size: 23px;
  }

  .team_description p {
    padding-top: 20px;
  }

.social_icon {
  padding-top: 10px;
}

/*investor section*/
.investor_section {
  padding: 50px 0;
}

.contact-us {
  padding: 50px 0;
}

.investor_section .investor_title, .pagetitle {
  color: #515151;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.investor_img img {
  height: 40px;
  object-fit: contain;
  object-position: center;
  width: 80%;
}

/*hire section*/
.hire_section {
  background: #E6E6E6;
  padding: 50px 0;
  text-align: center;
}

.hire_description {
  padding: 70px 0;
}

  .hire_description h3 {
    font-size: 46px;
    font-weight: 700;
  }

.hire_btn {
  background: #0acfc0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  border: 0px;
}

/*footer*/
footer {
  background-color: rgb(51, 51, 51);
  float: left;
  padding: 25px 0px 0px;
  width: 100%;
}

footer-row {
  margin-right: -15px;
  margin-left: -15px;
}

.copywrite {
  border-top: 1px solid rgb(68, 68, 68);
  float: left;
  margin-top: 25px;
  width: 100%;
}

  .copywrite p {
    color: rgb(153, 153, 153);
    font-size: 13px;
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
  }

.form-group label {
  display: block;
}

.contact-form {
  max-width: 700px;
  margin: 0 auto;
}
/*media query*/
@media(max-width: 767px) {
  .team_profile {
    margin-top: 20px;
  }
}

@media(max-width: 767px) {
  .investor_img {
    padding: 15px 0;
  }

  .banner_section img {
    display: none;
  }

  .about_section h1 {
    font-size: 38px !important;
  }

  .about_content .mission_title {
    font-size: 26px;
  }

  .about_content .p {
    font-size: 13px;
  }

  .team_section .team_title,
  .investor_section .investor_title {
    font-size: 38px;
  }

  .team_section,
  .about_section,
  .investor_section,
  .hire_section {
    padding: 30px 0;
  }

  .hire_description h3 {
    font-size: 42px;
  }
}

@media(max-width: 575px) {
  .investor_img {
    padding: 15px 0;
    text-align: center;
  }
}

