/*--------------------quistion-detail----------------------*/

.cover_profile, .cover_profile .profile_left {
  width: 100%;
  float: left;
}

  .cover_profile .profile_left {
    width: 100%;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    padding: 25px;
  }
span.profile_left img {
  width: 25px;
}

.cover_profile .profile_left .img {
  width: 30px;
  float: left;
  height: 30px;
  /*border: 2px solid #333;*/
  text-align: center;
  border-radius: 50%;
}



  .cover_profile .profile_left .img img {
    width: 100%;
    height:100%;
    padding: 0px;
    border-radius: 100%;
    height:26px;
  }
.mb-30 {
  margin-bottom: 30px !important;
}
.text_profile {
  margin-left: 15px;
  float: left;
  margin-top: 5px;
  font-weight: 700;
}
span.profile_left p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 40px;
  text-align:left;
}
.cover_profile p {
  text-align: left;
  word-break: break-word;
  font-size: 17px;
  font-weight: 400;
}
  .text_profile .user_123 {
    float: left;
    width: 100%;
    font-weight: 400;
  }

.time {
  float: right;
  font-size: 13px;
}

.cover_profile .profile_left p {
  float: left;
  width: 100%;
}

.opiniuns {
  width: 100%;
  float: left;
 
}

  .opiniuns span {
    float: left;
    margin-right: 0px;
    width: 10%;
    text-align: left;
    font-weight: 600;
  }

  .opiniuns .no {
    width: 100%;
    float: left;
    height: 5px;
    background-color: #ddd;
    border-radius: 3px;
    position: relative;
    margin-top: 25px;
  }

    .opiniuns .no .yes {
      position: absolute;
      right: 0px;
      top: -28px;
      margin: 0px;
      color: #02bd0f;
    }

.anlysis_slider {
 

  width: 100%;
  height: 15px;
  float: left;
  /*background-image: url('../images/redline.png');*/
  background-color: #FAC7C7;
  border-radius: 5px;
  position: relative;
  border: 1px solid #333;
}

  .anlysis_slider .color {
    float: left;
    height: 14px;
    width: 50%;
    background-color: #D2F3C8;
    /*background-image: url('../images/greenline.png');*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );*/
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border-bottom: 1px solid #333;
  }

  .anlysis_slider .percentage {
    position: absolute;
    right: 0px;
    width: auto;
    top: -29px;
    padding: 3px 3px;
    font-size: 13px;
    float: left;
    background: #902424;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
  }
  .anlysis_slider .percentage_yes {
    position: absolute;
    left: 0px;
    width: auto;
    top: -29px;
    padding: 3px 3px;
    font-size: 13px;
    float: left;
    background: #528f24;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
  }

  .anlysis_slider .percentage:before {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #902424;
    float: left;
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -4px;
  }
  .anlysis_slider .percentage_yes:before {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #528f24;
    float: left;
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -4px;
  }

.profile_bottom {
  width: 100%;
  float: left;
  margin-top: 0px;
}


.yes_feedback h1 {
  width: 30px;
  font-size: 12px;
  margin-top: -25px;
  margin-left: 5px;
  background: white;
 
  text-align: center;
  color: #D2F3C8;
}



.no_feedback h1 {
  width: 30px;
  font-size: 12px;
  margin-top: -25px;
  margin-left: 5px;
  background: white;
 
  text-align: center;
  color: #FAC7C7;
}

.cover_yes_no_feedback {
  margin-top: 35px !important;
  width: 100%;
  float: left;
  padding: 24px 15px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.right_no {
  float: right;
}

.user_left {
  width: 50%;
  float: left;
  padding-left: 10px;
}

  .user_left img {
    width: 23px;
    float: left;
    margin-right: 5px;
    border: 1px solid #333;
    padding: 0px;
    border-radius: 50%;
    height:23px;
  }

  .user_left span {
    float: left;
    margin-top: 0px;
    font-size: 14px;
  }

.profile_bottom_cover .like_images {
  width: 30%;
  float: left;
  border: 0px;
  
}

  .profile_bottom_cover .like_images span {
    width: 50%;
    float: left;
    text-align: left;
    border: 0px;
  }
.profile_bottom_cover .date_like {
  float: left;
  width: 20%;
  border: 0px;
}
  .profile_bottom_cover .date_like i {
    float: right;
    font-size: 13px;
  }

.profile_bottom_cover .like_images span img {
  width: 20px;
  margin-right: 7px;
  float: left;
  border: 0px;
  border-radius: 0px;
}
.cover_buttons {
  width: 100%;
  float: left;
  text-align: center;
  padding: 12px 0px;
  position: fixed;
  left: 0%;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.93);
  max-width: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
  .cover_buttons a {
    display: inline-block;
    width: 100px;
    border: 2px solid rgb(12,130,220);
    padding: 3px 0px;
    margin: 0px 10px;
    border-radius: 3px;
    color: rgb(12,130,220);
    font-size: 13px;
  }
  .cover_buttons .comment_box {
    width: 100%;
    text-align: center;
    left: 0px;
    position: relative;
    display: inline-block;
    margin-top: 15px;
  }
    .cover_buttons a:hover {
      background-color: rgb(12,130,220);
      color: #fff !important;
    }
.comment_box, .comment_box textarea {
  width: 100%;
  float: none;
}
.cover_buttons .comment_box textarea {
  float: left;
  width: 70%;
  margin-left: 5%;
}
  .comment_box textarea {
    border: 1px solid #ddd;
    line-height: 18px;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 13px;
    height: 50px;
  }
.comment_box a {
  width: 10%;
  float: left;
  padding: 6px 0px;
  border: 2px solid rgb(12,130,220);
  margin: 6px 0px 0px 0px;
  color: rgb(12,130,220);
  border-radius: 3px;
  margin-left: 1%;
}
    .comment_box a:hover {
      background-color: rgb(12,130,220);
      color: #fff !important;
    }
.cover_hello {
  width: 90%;
  float: left;
  position: fixed;
  z-index: 1000;
  left: 5%;
  bottom: 35px;
}
  .cover_hello i {
    float: right;
    padding: 15px 16px;
    background-color: #1587dd;
    color: #fff;
    border-radius: 10%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;

  }



.col-sm-12 ul {
  border: thick;
  border-color: aqua;
}

.cover_questions {
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  background: #FFF;
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.2);
}

/*accordian*/
.collapseButton {
  float: right;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

.longform p{
 
  margin-left: 15px;
  margin-right:15px;
}
 


@media screen and (max-width: 767px) {
  .cover_buttons .comment_box textarea {
    width: 100%;
    margin-left: 0%;
  }
  .cover_buttons .comment_box {
    width: 80%;
  }
  .comment_box[_ngcontent-c2] a[_ngcontent-c2] {
    width: 100px;
    margin: 15px 0px 0px 0px;
    margin-left: 0%;
    margin-right: 7px;
  }


 
}

.user_left, .img, .text_profile {
  cursor: pointer !important;
}


.hash_tag {
  font-size: 11px;
  float: right;
}


.hash_tag a{
  font-size: 11px;
  float: right;
}
 

.post-yes-no-option .input-switch-items .form-check {
  width:50%;
  float:left
}
.post-yes-no-option .input-switch-items .form-check label {
  width:100%;
  margin-bottom:0px;
  position:relative
}
.post-yes-no-option .input-switch-items .form-check label input{
  display:none
}
.post-yes-no-option .input-switch-items .form-check label span {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 0;
  color: #313131;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
  .post-yes-no-option .input-switch-items .form-check label input:checked + span.no {
    border-color: rgba(255, 0, 0, 0.76);
    background: rgba(255, 0, 0, 0.76);
    color: #fff;
  }
  .post-yes-no-option .input-switch-items .form-check label input:checked + span.yes {
    border-color: #50881c;
    background: #50881c;
    color: #fff;
  }

.belief-time i {
  font-size: 11px;
  color: grey;
  padding: 0px 0px 0px 0px;
  float: right;
  margin-top: -12px;

}

@media(max-width:480px) {
  .belief-time i {
    font-size: 9px;
    color: grey;
    padding: 0px 0px 0px 0px;
    float: right;
  }

  .user_left .username1 {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .user_left .username {
    width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .profile_bottom_cover .like_images {
    width: 30%;
    float: none;
    border: 0px;
  }

    .profile_bottom_cover .like_images span {
      width: 20%;
      float: left;
      text-align: left;
      border: 0px;
    }
}


popover-content span img{
  cursor:pointer
}



/*loader css*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 226px;
  height: 45px;
  margin-left:30%
}

  .lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #528f24;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

    .lds-ellipsis div:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite;
    }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}
