<div bsModal #dialogPostBelief="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="model fade in show" role="dialog" aria-labelledby="dialog-auto-name">
    <form name="postBeliefForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm()">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-events-name" class="modal-title pull-left">Share your belief! </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

                <div class="form-group post-yes-no-option">
                  <fieldset class="form-group input-switch input-switch-dual">
                    <ul class="input-switch-items">
                      <li class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="belief"
                                 [checked]="dataModel.OpinionAgreeStatus==1"
                                 (click)="setOpinionAgreeStatus(1)">
                          <span class="yes">YES</span>
                        </label>
                      </li>
                      <li class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="belief"
                                 [checked]="dataModel.OpinionAgreeStatus==0"
                                 (click)="setOpinionAgreeStatus(0)">
                          <span class="no">NO</span>
                        </label>
                      </li>
                    </ul>
                  </fieldset>
                </div>

                <div class="form-group">
                  <!--<textarea class="form-control" placeholder="Share your belief.."
                  [(ngModel)]="dataModel.Comment" name="Comment" #Comment="ngModel" rows="4" ></textarea>-->
                  <app-ngx-editor resizer="basic"
                    [config]="editorConfigModal"
                    (paste)="onPaste($event)"
                   [(ngModel)]="dataModel.Comment" name="Comment" #Comment="ngModel">
                    </app-ngx-editor>
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<style>
  .error{
    border:1px solid red !important;
  }
</style>
