.inner_pages {

}

  .inner_pages header {
    position: fixed;
    min-height: 130px;
    background: #fff;
    width: 100%;
    z-index: 9;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 22px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 5px 22px rgba(0,0,0,0.4);
  }

  .inner_pages .icon {
    width: 40px !important;
    height: 40px !important;
  }

.question-text {
  font-size: 20px;
  text-decoration: none;
}

.question-link .a{
  padding-top: 4px;
  font-size: 10px;
  float: left;
}
.cover_questions .cover_analysis .left > span {
  width: 10%;
  float: left;
}

.badge-yes {
  background: #d2f3c8;
  color: #69a982;
  border: 1px solid #d2f3c8;
}

.feedback-badge {
  float: left;
  text-transform: uppercase;
  padding: 3px 12px 3px 12px;
  position: absolute;
}

.badge-no {
  background: #ffcfcf;
  color: #c98484;
  border: 1px solid #ffcfcf;
}




.yes_feedback, .no_feedback {
  width: 100% !important;
  float: left !important;
  /*border: 2px solid #D2F3C8;*/
  /*border: 3px solid #D2F3C8;
  border-radius: 10px;*/
  margin-top: 16px;
  object-fit: contain;
  /*word-break: break-all;*/
}

.no_feedback {
  float: left !important;
  /*border: 2px solid #FAC7C7;*/
  /*border: 3px solid #FAC7C7;*/
}

  .no_feedback img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    /*border: 1px solid #444;*/
    border-radius: 6px;
    max-height: 400px;
    max-width: 600px;
    object-fit: contain;
    margin: auto;
    display: block;
  }



.yes_feedback img {
  height: 50%;
  width: 50%;
  object-fit: cover;
  /*border: 1px solid #444;*/
  border-radius: 6px;
  max-height: 400px;
  max-width: 600px;
  object-fit: contain;
  margin: auto;
  display: block;
}



.cover_heading .active_heart {
  width: 20px;
  float: right;
  margin-top: 10px;
  margin-right: 25px;
}

  .cover_heading .active_heart a img {
    width: 100%;
  }

.inner_pages .section_second {
  padding-top: 50px;
  max-width: 800px !important;
  margin: 0 auto;
  display: flex;
}


.cover_heading {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0px 0px;
  margin-top: 0px;
  position: relative;
  text-transform: capitalize;
}

  .cover_heading h3 {
    margin: 0px;
    color: #333;
    text-transform: capitalize;
  }


.cover_heading {
  text-align: left;
}

  .cover_heading h3 {
    margin-bottom: 10px !important;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
  }


.cover_questions {
  width: 100%;
  float: left;
}

  .cover_questions h3 {
    margin: 0px;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 2px;
    width: auto;
    float: left;
    border-bottom: 2px solid #444;
    padding-bottom: 4px;
  }

  .cover_questions strong {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 35px 0px;
    float: left;
    width: 100%;
  }

  .cover_questions .strong .a {
    font-size: 38px;
  }



  .cover_questions .cover_analysis {
    width: 100%;
    float: left;
    padding-bottom: 6px;
  }

    .cover_questions .cover_analysis .left {
      width: 100%;
      float: left;
    }

.anlysis_slider .empty_space {
  width: 100% !important;
  float: left;
  background-color: #ddd !important;
  height: 5px;
  position: relative;
}

.cover_questions .cover_analysis .left .anlysis_slider {
  width: 100%;
  height: 10px;
  float: left;
  /*background-image: url('../images/redline.png');*/
  background-color: #FAC7C7;
  border-radius: 2px;
  position: relative;
  border: 0px;
  /*1px solid #8e9094;*/
}


  .cover_questions .cover_analysis .left .anlysis_slider .color {
    float: left;
    height: 10px;
    width: 50%;
    background-color: #D2F3C8;
    /*background-image: url('../images/greenline.png');*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );*/
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 2px;
    border: 0px;
    /*border-bottom: 1px solid #8e9094;*/
  }

.anlysis_slider .percentage_yes {
  position: absolute;
  left: 0px;
  width: auto;
  top: -29px;
  padding: 3px 3px;
  font-size: 13px;
  float: left;
  background: #D2F3C8;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#10b1a9', endColorstr='#D2F3C8',GradientType=1 );*/
  color: #000;
  font-weight: 500;
  border-radius: 3px;
}

.cover_questions .cover_analysis .left .anlysis_slider .percentage {
  position: absolute;
  right: 0px;
  width: auto;
  top: -29px;
  padding: 3px 3px;
  font-size: 13px;
  float: left;
  background: #FAC7C7;
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );*/
  color: #000;
  font-weight: 500;
  border-radius: 3px;
}

  .cover_questions .cover_analysis .left .anlysis_slider .percentage::before {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #902424;
    float: left;
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -4px;
  }

.second-percentage {
  width: 100%;
  float: left;
  height: 5px;
  background-color: #56902c;
  border-radius: 5px;
  position: relative;
}

  .second-percentage .No_percentege {
    position: absolute;
    left: 0px;
    width: 45%;
    height: 5px;
    background-color: #e6000e;
    border-radius: 5px;
    top: 0px;
  }

/** user left and user right **/


/*.cover_questions.image_question span.user_icon {
  width: 43px;
  height: 44px;
}

.cover_questions.image_question .username {
  padding-top: 10px !important;
  font-weight: 400 !important;
}

.cover_questions.image_question .user_icon img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}*/


.cover_questions .user_left {
  width: 50%;
  float: left;
  padding-bottom: 10px;
}

  .cover_questions .user_left .user_icon {
    width: 44px;
    height: 43px;
    float: left;
    border: 0px solid #333;
    text-align: center;
    border-radius: 50%;
  }

    .cover_questions .user_left .user_icon img {
      width: 100%;
      height: 100%;
      padding: 0px;
      border-radius: 50%;
    }

  .cover_questions .user_left .username {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
  }

    .cover_questions .user_left .username .userid {
      font-weight: 400;
      width: 100%;
      float: left;
    }

.cover_questions .user_right {
  float: right;
  width: 50%;
}


  .cover_questions .user_right .hash_tag {
    font-size: 11px;
    float: right;
  }

  .cover_questions .user_right .date i {
    font-size: 9px;
    color: grey;
    width: 100%;
    text-align: right;
    float: left;
  }

  .cover_questions .user_right .date {
    float: right;
  }
 .opinionsList .small_icon {
  width: 20px;
  height: 20px;
  float: left;
  /*border: 1px solid #333;*/
  border-radius: 50%;
}

  .opinionsList .small_icon img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 50%;
  }

.opinionsList .small_username {
  float: left;
  padding-top: 5px;
  padding-left: 4px;
  font-size: 12px;
  font-weight: 400;
}

.liked_ones p {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  word-break: break-word;
  padding: 0px 0 10px 60px
}


.liked_ones .row {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  word-break: break-word;
  padding: 0px 0 10px 60px
}

.thumbs {
  float:right;
  padding-right: 4px;
}

  .thumbs img {
    width: 16px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    border: 0px solid #444 !important;
    border-radius: 0px !important;
  }


  .thumbs .btn {
    /*margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  object-fit: cover;*/
    font-size: 10px;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    color: darkslategray;
    background-color: lightgray !important;
  }

  .thumbs .btn-info {
    background-color: lightgray !important;
  }

    .inner_pages .thumbs1 i {
  font-size: 19px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
  line-height: 28px;
  display: inline-block;
  margin-right: 8px;
  opacity: 0.6;
  cursor: pointer;
}

  .inner_pages .thumbs i:hover {
    opacity: 1;
  }

 .thumbs span {
  padding-right: 30px;
  font-size: 14px;
}

  .inner_pages .thumbs span:last-child {
    padding-right: 0;
  }

.inner_pages .thumbs i.fa-thumbs-up {
  color: #008000;
}

.inner_pages .fa.fa-thumbs-down {
  color: #f00;
}

 .liked_ones {
  /*float: left;*/
  width: 100%;
  /*float: right;*/
  padding-bottom: 0px;
  border-bottom: 0.5px solid rgba(0,0,0,0.2);
}

.col-sm-12 ul {
  border: 0px solid #eee;
}

  .col-sm-12 ul li {
    border: 0px solid #eee;
  }

.inner_pages .cover_questions {
  padding: 15px 15px 0px 15px;
  margin-bottom: 15px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #dce0e1;
}

.inner_pages .section_second ul li .cover_questions:last-child {
  margin: 0;
}

.inner_pages .cover_questions .cover_analysis {
  /*	padding-bottom: 5px;*/
}

.inner_pages .section_second ul li {
  margin-top: 10;
}

@media(max-width:767px) {
  #bs-example-navbar-collapse-1 {
    background: #333;
    position: relative;
    top: -8px;
    max-height: inherit;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle {
    margin-top: 3px;
  }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
    }
 
}
 


@media(min-width:481px) {
 .liked_ones {
    max-width: 100%;
  }
}

@media(max-width:520px) {
  .inner_pages footer ul li {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media(max-width:480px) {
  .liked_ones p {
    margin-bottom: 15px;
  }

  .cover_heading {
    margin: 0;
  }

  .cover_questions .strong a {
    font-size: 13px;
  }


 .opinionsList .small_username {
    float: left;
    padding-top: 8px;
    padding-left: 0px;
    font-size: 10px;
    font-weight: 400;
  }
 

  /*.inner_pages .section_second {
    padding-top: 20px;
  }*/
 /*.opinionsList .icon img {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }*/

  .user_icon {
    width: 28px  ;
    height: 28px  ;
  }

 .opinionsList .username {
    padding-left: 6px;
    font-size: 12px;
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cover_questions .user_left .username {
    padding-left: 6px;
    padding-top: 14px;
    padding-bottom: 1px;
    font-size: 10px;
  }


  .question-text {
    font-size: 18px;
    font-size: 18px;
  }
}

.upload-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
