body {
  font-family: 'Poppins', sans-serif;
}

* {
  outline: none;
}

.emoji {
  display: inline-block;
  vertical-align: middle;
}
/********banner css start*******/
.banner {
  min-height: 310px;
  /*background-image: url(../images/2.png);*/
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  margin-top: -48px;
}

.banner_text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  transform: translate(-50%,-50%);
  top: 65%;
  left: 50%;
}

  .banner_text h2 {
    margin: 0;
    text-transform: capitalize;
    text-shadow: 4px 4px 12px rgba(0,0,0,.3);
    font-size: 42px;
    font-weight: bold;
  }


/********banner css ends*******/
/*--------------------popular_qustion---------*/
.cover_heading {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0px 0px;
  margin-top: 0px;
  position: relative;
  text-transform: capitalize;
}

  .cover_heading h3 {
    margin: 0px;
    color: #333;
    text-transform: capitalize;
  }

.section_second ul {
  padding: 0px;
  width: 100%;
  float: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

  .section_second ul li {
    width: 100%;
    float: left;
    display: block;
    padding: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }

.cover_questions {
  width: 100%;
  float: left;
}

  .cover_questions h3 {
    margin: 0px;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 2px;
    width: auto;
    float: left;
    border-bottom: 2px solid #444;
    padding-bottom: 4px;
  }

  .cover_questions strong {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 35px 0px;
    float: left;
    width: 100%;
  }

  .cover_questions .strong .a {
    font-size: 38px;
  }

section.section_second {
  margin-bottom: 70px;
}

.cover_questions .cover_analysis {
  width: 100%;
  float: left;
}

  .cover_questions .cover_analysis .left {
    width: 100%;
    float: left;
  }

.anlysis_slider .empty_space {
  width: 100% !important;
  float: left;
  background-color: #ddd !important;
  height: 5px;
  position: relative;
}

.cover_questions .cover_analysis .left .anlysis_slider {
  width: 100%;
  height: 15px;
  float: left;
  /*background-image: url('../images/redline.png');*/
  background-color: #FAC7C7;
  border-radius: 5px;
  position: relative;
  border: 1px solid #333;
}


  .cover_questions .cover_analysis .left .anlysis_slider .color {
    float: left;
    height: 14px;
    width: 50%;
    background-color: #D2F3C8;
    /*background-image: url('../images/greenline.png');*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );*/
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border-bottom: 1px solid #333;
  }

.anlysis_slider .percentage_yes {
  position: absolute;
  left: 0px;
  width: auto;
  top: -29px;
  padding: 3px 3px;
  font-size: 13px;
  float: left;
  background: #D2F3C8;
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#10b1a9', endColorstr='#D2F3C8',GradientType=1 );*/
  color: #000;
  font-weight: 500;
  border-radius: 3px;
}

.cover_questions .cover_analysis .left .anlysis_slider .percentage {
  position: absolute;
  right: 0px;
  width: auto;
  top: -29px;
  padding: 3px 3px;
  font-size: 13px;
  float: left;
  background: #FAC7C7;
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0c82dc', endColorstr='#10b1a9',GradientType=1 );*/
  color: #000;
  font-weight: 500;
  border-radius: 3px;
}

  .cover_questions .cover_analysis .left .anlysis_slider .percentage::before {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #902424;
    float: left;
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -4px;
  }

.second-percentage {
  width: 100%;
  float: left;
  height: 5px;
  background-color: #56902c;
  border-radius: 5px;
  position: relative;
}

  .second-percentage .No_percentege {
    position: absolute;
    left: 0px;
    width: 45%;
    height: 5px;
    background-color: #e6000e;
    border-radius: 5px;
    top: 0px;
  }

.cover_questions .user_left {
  width: 50%;
  float: left;
  padding-bottom: 5px;
}

  .cover_questions .user_left .icon {
    width: 30px;
    float: left;
    height: 30px;
    border: 1px solid #333;
    text-align: center;
    border-radius: 50%;
  }

    .cover_questions .user_left .icon img {
      width: 100%;
      padding: 0px;
      border-radius: 50%;
    }

  .cover_questions .user_left .username {
    float: left;
    padding-left: 13px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: 700;
  }

    .cover_questions .user_left .username .userid {
      font-weight: 400;
      width: 100%;
      float: left;
    }

.cover_questions .user_right {
  float: right;
  width: 50%;
}


  .cover_questions .user_right .hash_tag {
    font-size: 11px;
    float: right;
  }

  .cover_questions .user_right .date i {
    font-size: 9px;
    color: grey;
    width: 100%;
    text-align: right;
    float: left;
  }

  .cover_questions .user_right .date {
    float: right;
  }

.inners {
  padding-top: 30px !important;
}

.mains {
  padding-top: 0px !important;
}

/*--------------pagination-------------*/
.navigation_cover {
  width: 100%;
  float: left;
  margin-bottom: 40px;
  margin-top: 25px;
}

  .navigation_cover .pagination {
    margin: 0px;
    text-align: right;
  }

    .navigation_cover .pagination li {
      width: auto;
      box-sizing:;
      box-shadow: none;
      padding: 0px;
      float: none;
      display: inline-block;
      margin: 0px;
    }

      .navigation_cover .pagination li a {
        border-radius: 2px;
        font-size: 13px;
        color: #333 !important;
      }

      .navigation_cover .pagination li.active a {
        background-color: #10b1a9 !important;
        border-color: #10b1a9 !important;
        color: #fff !important;
      }
/*---------------footer------------*/
footer {
  width: 100%;
  float: left;
  background-color: #333;
  padding: 25px 0px 0px 0px
}

  footer ul {
    padding: 0px;
    margin: 0px;
  }

    footer ul li {
      width: 25%;
      display: inline-block;
      text-align: center;
      padding: 0px;
      margin: 0px;
      float: left;
    }

      footer ul li a {
        color: #fff;
        font-size: 16px;
        display: inline-block;
        width: 100%;
        float: left;
      }

        footer ul li a:hover {
          text-decoration: none;
          color: #10b1a9;
        }

.copywrite {
  width: 100%;
  float: left;
  border-top: 1px solid #444;
  margin-top: 25px;
}

  .copywrite p {
    color: #999;
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
    font-size: 13px;
  }

.cover_questions span.cover_span {
  float: left;
  width: 50%;
}
/*-----------------------Notification-cover-------------------*/
.cover_sections {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}

  .cover_sections .cover_notification {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 0px 15px;
    margin-bottom: 65px;
  }

    .cover_sections .cover_notification h3 a {
      font-size: 12px;
      font-weight: 400;
    }

      .cover_sections .cover_notification h3 a:hover {
        text-transform: none;
      }

.cover_right {
  width: 100%;
  float: left;
  margin-bottom: 25px;
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 25px;
}

  .cover_right .profile {
    width: 100%;
    float: left;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #313131;
  }

    .cover_right .profile a {
      font-weight: 600;
      color: #13aca9;
    }

    .cover_right .profile img {
      width: 30px;
      float: left;
      padding: 0px;
      border: 1px solid #333;
      border-radius: 50%;
      margin-right: 15px;
    }

  .cover_right span {
    font-size: 13px;
    float: right;
  }

  .cover_right p {
    float: left;
    width: 100%;
    margin-top: 3px;
  }

.cover_ntfctn_border {
  width: 100%;
  float: left;
  padding: 15px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

span.cover_ntfctn_border label {
  margin: 0px;
}

.cover_ntfctn_border .name {
  position: relative;
}

  .cover_ntfctn_border .name img {
    position: relative;
    width: 15px;
    float: left;
    margin-left: 3px;
    margin-top: 2px;
  }

  .cover_ntfctn_border .name .text_sftr_star {
    margin-left: 6px;
  }

.cover_ntfctn_border p {
  margin: 4px 0px 0px 0px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel-inner .message-container * {
  font-size: 14px !important;
  font-weight: 300 !important
}

.carousel-inner tweet {
  top: 4px;
  position: relative;
  left: 5px;
}

.cover_ntfctn_border .name b {
  float: left;
}

span.bell-icon {
  width: 25px;
  float: right;
  height: 25px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-left: 5px;
  position: relative;
}

  span.bell-icon span {
    position: absolute;
    top: -7px;
    background-color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    color: #333;
    font-size: 13px;
    line-height: 17px;
    right: -10px;
  }

.dropdown > a {
  width: 33px;
  height: 33px;
  float: left;
  margin-top: 7px;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  padding: 6px;
  margin-left: 8px;
}

.dropdown.show .dropdown-menu.show {
  position: absolute;
  top: 48px;
  border: none;
  border-radius: 2px;
  min-width: 140px;
  background-size: cover;
  background-position: center center;
}

.dropdown a:hover {
  background-color: #fff;
}

.dropdown.show .dropdown-menu.show a.dropdown-item {
  width: 100%;
  text-align: center;
  margin: 0px;
  color: #333 !important;
  text-transform: uppercase;
  font-size: 13px;
  height: inherit;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  letter-spacing: 1px;
}

  .dropdown.show .dropdown-menu.show a.dropdown-item:last-child {
    border: none;
  }

.dropdown a img {
  width: 100%;
  float: left;
}

span.bell-icon i {
  display: inline-block;
  font-size: 11px;
}

.cover_questions.image_question .icon img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.cover_questions .cover_analysis .left > span {
  width: 10%;
  float: left;
}


.yes_feedback, .no_feedback {
  width: 100% !important;
  float: left !important;
  /*border: 2px solid #D2F3C8;*/
  border: 3px solid #D2F3C8;
  border-radius: 10px;
  padding: 15px !important;
  margin-top: 16px;
  object-fit: contain;
 
}

.no_feedback {
  float: left !important;
  /*border: 2px solid #FAC7C7;*/
  border: 3px solid #FAC7C7;
}
  .no_feedback img {
    height: 50%;
    width: 80%;
    object-fit: cover;
    border: 1px solid #444;
    border-radius: 6px;
 
  }



.yes_feedback img {
  height: 50%;
  width: 80%;
  object-fit: cover;
  border: 1px solid #444;
  border-radius: 6px;
}


.cover_questions.image_question span.icon {
  width: 29px !important;
  height: 29px !important;
}

.cover_questions.image_question .username {
  padding-top: 3px !important;
  font-weight: 400 !important;
}

/*.no_feedback .text-right {
  text-align: left;
}

.no_feedback .text-left .opinionsList {
  float: right;
}*/

.scroller_cover {
  width: 100%;
  float: left;
  text-align: center;
  margin: 0px 0px 35px 0px;
}

  .scroller_cover img {
    display: inline-block;
    width: 60px;
  }

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center
}

.justify-content-between {
  justify-content: space-between
}

.mb-0 {
  margin-bottom: 0px !important;
}

.custom-checkbox {
  position: relative;
}

  .custom-checkbox input {
    display: none
  }

  .custom-checkbox span {
    position: relative;
    padding-left: 30px;
    font-weight: 400;
    color: #18b1af;
    cursor: pointer
  }

    .custom-checkbox span:after {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 2px solid #18b1af;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translate(0,-50%);
      transition: all .3s ease-in-out;
    }

  .custom-checkbox input:checked + span:after {
    width: 12px;
    height: 20px;
    border: 2px solid;
    border-color: #17b0ae transparent transparent #17b0ae;
    top: 34%;
    transform: translate(0,-50%) rotate(-135deg);
    transition: all .3s ease-in-out;
    left: 4px;
  }

.questions-field {
  background-color: #fff;
  width: calc(100% - 40px);
  box-shadow: none;
  border: 1px solid #dadada;
}

  .questions-field strong {
    display: block;
    margin-bottom: 9px;
    position: relative;
    padding-right: 30px;
  }
    .questions-field strong span {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translate(-0,-50%);
      color: #dc0304;
      padding: 5px;
      font-size: 20px;
      cursor:pointer
    }
  .questions-field strong:last-child {
      margin-bottom: 0px;
    }

    .questions-field strong a {
      padding: 6px 10px 6px 40px;
      display: inline-block;
      position: relative;
      color: #0e0e0e;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      word-break: break-word
    }

      .questions-field strong a:before {
        content: attr(data-title);
        position: absolute;
        left: 8px;
        top: 3px;
        font-size: 20px;
        color: #0e0e0e;
        border-right: 1px solid #adadad;
        width: 20px;
      }

    .questions-field strong.text-success {
      border: 2px solid #D2F3C8;
      border-radius: 4px;
    }

    /*.questions-field strong.text-success a,
.questions-field strong.text-success a:before {
    color: #3c763d;
  }*/

    .questions-field strong.text-danger {
      border: 2px solid #FAC7C7;
      border-radius: 4px;
    }

/*.questions-field strong.text-danger a,
.questions-field strong.text-danger a:before {
    color: #a94442;
  }*/






@media screen and (max-width: 991px) {
  .anlysis_slider {
    width: 100% !important;
    margin-top: 6px !important;
  }

  .cover_profile p {
    font-size: 14px !important;
    text-align: justify !important;
  }

  .profile_bottom_cover .like_images {
    width: 25% !important;
  }

  .profile_bottom_cover .date_like {
    width: 25% !important;
  }
}

@media screen and (max-width: 767px) {

  .user_left {
    width: 100%;
    margin-bottom: 20px;
  }

  .profile_bottom_cover .like_images {
    width: 50% !important;
  }

  .profile_bottom_cover .date_like {
    width: 50% !important;
  }

  .profile_bottom_cover .date_like {
    width: 100% !important;
  }

    .profile_bottom_cover .date_like i {
      text-align: left;
      width: 100%;
    }

  .user_left span {
    font-size: 12px;
  }

  .cover_heading.d-flex {
    display: block;
    text-align: left;
    padding: 20px;
  }

  footer ul li {
    width: auto;
    padding: 6px 10px;
  }
}

@media screen and (max-width: 480px) {


  .profile_bottom_cover .like_images {
    width: 100% !important;
  }

  .profile_bottom_cover .date_like {
    width: 100% !important;
    margin-top: 15px;
  }

    .profile_bottom_cover .date_like i {
      width: 100%;
      text-align: left;
    }

  .yes_feedback, .no_feedback {
    width: 100% !important;
 
  }

   
      .user_left {
    /*width: 100% !important;*/
    margin-bottom: 5px;
  }
}
