


<section class="leader-table">

  <h2>Top Earners </h2>

  <div class="container-fluid">
    <div class="row justify-content-start  ">
      <div class="col-lg-4">

        <h3>3 Days</h3>   <br />

        <ul class="list-group">

          <ng-container *ngFor="let record of earnings[3];let i=index">
            <div class="taglist" *ngIf="i<15">

              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a [routerLink]="['/viewprofile/', record?.Id]"> {{record.OwnerUserName}}</a>
                <span class="badge badge-primary badge-pill">{{record.Earnings}} OPZ</span>
              </li>

            </div>
          </ng-container>
        </ul>
      </div>

      <div class="col-lg-4">

        <h3>7 days </h3> <br/>


        <ul class="list-group">

          <ng-container *ngFor="let record of earnings[7];let i=index">
            <div class="taglist" *ngIf="i<15">

              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a [routerLink]="['/viewprofile/', record?.Id]"> {{record.OwnerUserName}}</a>
                <span class="badge badge-primary badge-pill">{{record.Earnings}} OPZ</span>
              </li>

            </div>
          </ng-container>
        </ul>
      </div>



      <div class="col-lg-4">

        <h3>30 days</h3><br />

        <ul class="list-group">

          <ng-container *ngFor="let record of earnings[30];let i=index">
            <div class="taglist" *ngIf="i<15">

              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a [routerLink]="['/viewprofile/', record?.Id]"> {{record.OwnerUserName}}</a>
                <span class="badge badge-primary badge-pill">{{record.Earnings}} OPZ</span>
              </li>

            </div>
          </ng-container>
        </ul>
      </div>

    </div>
  </div>
   
</section>




<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>    <a href="javascript:void(0)"></a></li>
          <li>   <a [routerLink]="['/faq/']">FAQ</a></li>
          <li>   <a [routerLink]="['/aboutus/']">About Us</a></li>


          <li><a href="mailto:contactus@opozee.com">Contact Us</a></li>
          <!--<li >   <a [routerLink]="['/aboutus/']">About Us</a></li>-->
        </ul>
        <!--<li> <a [routerLink]="['/aboutus/']">About Us</a></li>

          <li><a href="#">Register</a></li>
        -->
      </div>
    </div>
  </div>

  <div class="copywrite"><p>Copyright Opozee Inc 2019</p></div>
  <div class="privatePolicy">
    <!--<a [routerLink]="['/privatepolicy/']">Privacy Policy</a>-->

  </div>

  <div class="aboutus">
  </div>

  <span id="siteseal">
    <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=tO7ndZkEUXZNnbHsOziOEYXzlu2s0mKH9rgu1WUzFXZbUYexoQKcFMLqv54v"></script>
  </span>

</footer>

