<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>

<div class="mains">

  <section class="trending" style="padding-top:35px;" *ngIf="popularhastags?.length>0">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="d-flex">
            <div class="t_label"> Trending:</div>

            <ng-container *ngFor="let tag of popularhastags;let i=index">
              <div class="taglist" *ngIf="i<5">

                <h4> <a href="javascript:void(0)" (click)="searchForTag(tag.HashTag)">{{tag.HashTag}}</a></h4>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </section>


  <div class="container">
    <question-listing></question-listing>

  </div>




  <!--<section class="section_second">
    <div class="container">
      <div class="cover_heading">
        <h2>Popular Hastags</h2>
      </div>
      <div class="row">
        <div class="col-sm-6" *ngFor="let temp of questionListing">
          <ul>
            <li>
              <div class="cover_questions">
                <strong><a [routerLink]="['/questiondetail/', temp.Id]">{{temp.Question}}</a></strong>
                <div class="cover_analysis">
                  <div class="left">
                    <span>Analysis</span>   <span>{{temp.HashTags}}</span>
                    <div class="anlysis_slider">
                      <span class="color"></span>
                      <span class="percentage">50%</span>
                    </div>
                  </div>
                </div>-

                <div class="user_left"  [routerLink]="['/viewprofile/', temp?.UserID]">
                  <span class="icon"><img src="../../assets/images/user.png" alt="user" /></span>
                  <span class="icon"><img src="{{temp.ImageURL}}" alt="user" /></span>
                  <span class="username">
                    {{temp.OwnerUserName}}
                  </span>

                </div>
                <span class="cover_span">
                  <ng-container *ngFor="let tag of temp?.HashTags?.split(',')">
                    <a href="javascript:void(0)" (click)="searchForTag(tag)">{{tag}}&nbsp;</a>
                  </ng-container>
                </span>
                <div class="user_right"><div class="date"><i>{{ temp.CreationDate | date:'medium' }}</i></div></div>
              </div>
            </li>


          </ul>
        </div>



      </div>

    </div>
  </section>-->



  <div  >




  <div *ngIf="showPopup"   class="popup-container"  >
    <div class="popup-content">
      <span class="popup-text">
        <h5> Welcome to Opozee!</h5>
        <p>

          Our mission is to be the worlds first decentralized social network that offers a platform for free speech and ecourages users to converge to shared beliefs.
        </p>
        <h5>How Opozee works:</h5>
        <div class="popup-step">
          <div class="step-items">
            <strong>Step 1:</strong> Start by posting a “yes or no” question.
          </div>
          <div class="step-items">
            <strong>Step 2:</strong> Or simply post your beliefs in response to existing questions.
          </div>
          <div class="step-items">
            <strong>Step 3:</strong> Earn crypto-tokens when people like your beliefs.
          </div>
        </div>
        <h5>What’s in there for me?</h5>
        <p>
          You get 100 tokens just for signing up. You can earn additional tokens by actively participating in the network by posting beliefs.
          Opozee plans to operate as a decentralized autonomous organization (DOA). Every Opozee tokenholder is shareholder in the network with a claim on the networks growth and profitability. As the value of the networks increases, so will the value of its tokens.
        </p>
      </span>
      <span class="popup-close" (click)="hidePopup()">X</span>
    </div>
  </div>
  <script>


      //jQuery(document).ready(function ($) {
      //  jQuery('.popup-close, .popup-container').click(function () {
      //    jQuery('.popup-container').hide();
      //    jQuery('.popup-container iframe').attr('src', '');
      //  });
      //});

  </script>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li>   <a [routerLink]="['/aboutus/']">FAQ</a></li>
            <li>   <a [routerLink]="['/aboutus/']">About Us</a></li>

            <li><a href="#">Blog</a></li>
            <li><a href="mailto:contactus@opozee.com">Contact Us</a></li>
            <!--<li >   <a [routerLink]="['/aboutus/']">About Us</a></li>-->
          </ul>
          <!--<li> <a [routerLink]="['/aboutus/']">About Us</a></li>

            <li><a href="#">Register</a></li>
          -->
        </div>
      </div>
    </div>

    <div class="copywrite"><p>Copyright Opozee Inc 2019</p></div>
    <div class="privatePolicy">
      <!--<a [routerLink]="['/privatepolicy/']">Privacy Policy</a>-->

    </div>

    <div class="aboutus">
    </div>

    <span id="siteseal">
      <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=tO7ndZkEUXZNnbHsOziOEYXzlu2s0mKH9rgu1WUzFXZbUYexoQKcFMLqv54v"></script>
    </span>

  </footer>
</div>

