 
.d-flex {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.taglist {
  display: inline-block;
  padding:  5px 15px 0px;
}
 

@media screen and (max-width: 480px) {
  .taglist {
    display: inline-block;
    padding:  0px 3px 0px 0px;
    
  }

    .taglist h4 a{
      font-size: 12px;
    }
}

