@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}


.inner_page_header {
  margin-top: 10px !important;
  background-color: #f0f0f0;
  float: left;
  width: 100%;
}
