<section class="section_second">
  <div class="container">
    <div class="cover_heading">
      <h2>Question detail</h2>
    </div>
    <div class="cover_sections">

      <div class="col-sm-12">
        <div class="cover_quistion">
          <div class="cover_profile">
            <!--<span class="profile_left">
              <span class="img"><img src="../../assets/images/user.png" alt="user"></span>
              <span class="text_profile">

                <span class="user_123">{{PostQuestionDetailModel.postQuestionDetail.OwnerUserName}}</span>
              </span>
              <span class="time">{{PostQuestionDetailModel.postQuestionDetail.CreationDate | date:'medium'}}</span>
              <p>{{PostQuestionDetailModel.postQuestionDetail.Question}}</p>
              <div class="opiniuns">
                <div class="left">
                  <span>Analysis</span>
                  <div class="anlysis_slider">
                    <span class="color"></span>
                    <span class="percentage">NO 66%</span>
                    <span class="percentage_yes">YES 33%</span>
                  </div>
                </div>
              </div>
            </span>-->

            <!--<span class="profile_bottom" *ngFor="let temp of PostQuestionDetailModel.comments">
              <p>{{temp.Comment}}</p>
              <span class="profile_bottom_cover">
                <span class="user_left">
                  <img src="../../assets/images/user.png" alt="user"><span>{{temp.CommentedUserName}}</span>
                </span>
                <div class="like_images">
                  <span class="like"><img src="../../assets/images/like.png" alt="like">{{temp.LikesCount}}</span>
                  <span class="like"><img src="../../assets/images/unlike.png" alt="like" />{{temp.DislikesCount}}</span>
                </div>
                <div class="date_like">
                  <i>Feb 15, 2019, 4:00:49 PM</i>
                </div>
              </span>
            </span>-->

            <!--<div class="cover_buttons">
              <a (click)="clickYes()">YES</a>
              <a (click)="clickNO()">NO</a>
            </div>
            <div class="comment_box" *ngIf="Isclicked">
              <textarea></textarea>
              <a href="#">Send</a>
            </div>-->


          </div>
        </div>
      </div>

    </div>

  </div>
</section>
