<div id="login" class="inners">

  <div class="creds p-4">
<div class="container">

  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-12 col-sm-12" style="background-color:transparent;">
      <div class="login_data bg-white text-center rounded p-md-4  pt-4">
        <div class="logo_main text-center">
          <!--<img src="../../assets/images/logo-brain.png" alt="main-logo">-->
        </div>
        <h2>Share your referral code and earn 10 OPZ coins</h2>
        <p>Every time a new user signs up with your invite code, each will earn 10 OPZ coins.</p>

        <div class="form-group">
          <span>Referral Earnings: <b>{{coinPerReferral}}</b> <small> Coins </small> x <b>{{totalReferred}}</b> <small> Total Referrals</small> = <b>{{totalReferred*coinPerReferral}}</b> <small> Coins</small></span>
          <!--<small style="display:block">
            eg: Coin Per Referral X Total Referrals
          </small>-->
        </div>

        <div class="form-group">
          <label for="referral">Your Referral Code</label>
          <input type="text" readonly="readonly" [(ngModel)]="referralCode" name="referral" id="referral" class="form-control" #referral="ngModel" />
        </div>
        <div class="form-group">
          <button (click)="copyLink(referralCode)" value="click to copy" class="btn btn-primary">
            Copy code  
          </button>
        </div>

        <p style="text-align:center">OR</p>

        <div class="form-group">
          <label for="referralLink">Your Referral Link</label>
          <input type="text" readonly="readonly" [(ngModel)]="referralURL" name="referralLink" id="referralLink" class="form-control" #referralLink="ngModel" />
        </div>

        <div class="form-group">
          <button (click)="copyLink(referralURL)" value="click to copy" class="btn btn-primary">
            Copy link  
          </button>
        </div>

      </div>
    </div>


  </div>
</div>
</div>
</div>
