<div bsModal #resetPassword="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="model fade in show" role="dialog" aria-labelledby="dialog-auto-name">
    <form #f="ngForm" novalidate (ngSubmit)="reset(f.value, f.valid)">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-events-name" class="modal-title pull-left">Reset Password </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="main_fields text-left">
              <div class="form-group">
                <label for="oldpassword">Old Password</label>
                <input  name="oldpassword"  type="password" class="form-control form-control pl-5"
                        [ngModel]="resetModel.oldpassword" 
                         required #oldpassword="ngModel" />
                <i class="fa fa-lock"></i>
                <small [hidden]="oldpassword.valid || (oldpassword.pristine && !f.submitted)" class="invalid-feedback" style="color:red">
                  *Old Password is required
                </small>
              </div>
              <div class="form-group">
                <label for="newpassword">New Password</label>
                <input name="newpassword" type="password"  class="form-control form-control pl-5"
                     [ngModel]="resetModel.newpassword" 
                    required #newpassword="ngModel"/> 
                <i class="fa fa-lock"></i>
                <small [hidden]="newpassword.valid || (newpassword.pristine && !f.submitted)" class="invalid-feedback" style="color:red">
                  *New Password is required
                </small>
              </div>
              <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input name="cpassword" type="password" class="form-control form-control pl-5"
                       [ngModel]="resetModel.confirmPassword"
                       required validateEqual="newpassword" #cpassword="ngModel" />
                <i class="fa fa-lock"></i>
                <small [hidden]="cpassword.valid || (cpassword.pristine && !f.submitted)" class="invalid-feedback" style="color:red">                 
                  *Password does not match
                </small><br />
                <small [hidden]="cpassword.valid || (cpassword.pristine && !f.submitted)" class="invalid-feedback" style="color:red">
                  *Confirm Password is required
                </small>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="!f.valid" >Reset</button>
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<style>
  .error{
    border:1px solid red !important;
  }
</style>
